<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <!-- Errors were reported during translation. -->
    <!-- No class found for appender console -->
    <!-- Could not find transformer for null -->
    <appender name="console">
        <!--No layout specified for appender named [console] of class [null]-->
    </appender>
    <logger name="org.apache.spark" level="ERROR"/>
    <logger name="akka.event.slf4j" level="ERROR"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="com.anjuke.dm" level="${dm.logging.level}"/>
    <logger name="org.apache.spark.repl.SparkILoop$SparkILoopInterpreter" level="INFO"/>
    <logger name="org.apache.spark.repl.SparkIMain$exprTyper" level="INFO"/>
    <logger name="org.spark-project.jetty.server" level="ERROR"/>
    <logger name="Remoting" level="ERROR"/>
    <root level="ERROR">
        <appender-ref ref="console"/>
    </root>
</configuration>
